{% include yandex.html %}

<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <a href="/" class="pure-menu-heading">Anton Davydov</a>

  <ul>
    <li><a class="pure-menu__link" href="/blog.html">Blog</a></li>
    <!-- <li><a class="pure&#45;menu__link" href="#">Tutorials</a></li> -->
    <!-- <li><a class="pure&#45;menu__link" href="#">Portfolio</a></li> -->
    <li><a class="pure-menu__link" href="/about.html">About me</a></li>
    <li><a class="pure-menu__link" href="/contact.html">Contact</a></li>
  </ul>
</div>

<div class="banner">
  <div class="banner__content">

  {% if page.path == 'index.html' %}
    <div class="pure-g banner__main">
  {% else %}
    <div class="pure-g">
  {% endif %}

      <div class="pure-u">
        <h1 class="banner__head">
          {{ page.title }}
        </h1> 
      </div>
    </div>
  </div>
</div>
