<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset='utf-8' />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="description" content="davydovanton.github.io : " />

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="">
  {% stylesheet foundation.min %}
  {% stylesheet app %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51d703f164d65d92"></script>

  <title>{{ page.title }}</title>
</head>
