{% include yandex.html %}

<nav class="top-bar" data-topbar role="navigation">
  <div class="nav-wrapper">
    <a href="/">{{ page.title }}</a>
    <ul id="nav-mobile" class="right side-nav">
      {% if page.active == "main" %}
        <li class="active"><a href="#">Blog</a></li>
      {% else %}
        <li><a href="/">Blog</a></li>
      {% endif %}

      {% if page.active == "about" %}
        <li class="active"><a href="#">About</a></li>
      {% else %}
        <li><a href="/about">About</a></li>
      {% endif %}
    </ul>

    <!-- Include this line below -->
    <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
    <!-- End -->

  </div>
</nav>
