<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="http://davydovanton.com/contacts/">Contacts</a>
    <a class="sidebar-nav-item" href="http://davydovanton.com/tags/">All Tags</a>
    <a class="sidebar-nav-item" href="https://github.com/davydovanton">GitHub</a>
    <a class="sidebar-nav-item" href="https://twitter.com/anton_davydov">Twitter</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
