.content {
  .posts {
    list-style: none;
  }

  ul.posts {
    padding: 0;
  }

  .post {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 20px 0;
    text-align: justify;

    .post__title {
      color: #333;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;

      a {
        color: #333;
        text-decoration: none;
      }
    }

    .post__content {
      font-size: 16px;
      margin-bottom: 1em;
      margin-top: 0;

      img {
        @include box-shadow(0 1px 1px 1px rgba(0,0,0,0.2));
        height:auto;
        margin: 10px 0;
        max-width:100%;
      }

      .post__back {
        margin: 30px 0 15px;
      }
    }

    .post__continue {
      margin-top: 10px;
    }
  }
}

.post-info__bubble {
  background: #c7c7c7;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.post-info__bubble_date {
  line-height: 15px;
  margin-top: 90px;
  padding: 10px 0;
  width: 50px;

  .bubble {
    word-wrap: break-word;
  }
}

.post-info__bubble_share {
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin: 10px;
}






