.post {
  padding: 20px 0;
  text-align: justify;

  .post__title {
    color: #333;
    float: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    a {
      color: #333;
      text-decoration: none;
    }
  }

  .post__date {
    color: #333;
    float: right;
    font-size: 16px;
    line-height: 29px;
  }

  .post__content {
    float: right;
    font-size: 16px;
    margin-bottom: 1em;
    margin-top: 0;

    p {
      text-align: justify !important;
    }

    img {
      @include box-shadow(0 1px 1px 1px rgba(0,0,0,0.2));
      height:auto;
      margin: 10px 0;
      max-width:100%;
    }

    .post__back {
      margin: 30px 0 15px;
    }
  }

  .post__continue {
    margin-top: 10px;
  }
}

.post-info__bubble {
  background: #c7c7c7;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.post-info__bubble_date {
  line-height: 15px;
  margin-top: 90px;
  padding: 10px 0;
  width: 50px;

  .bubble {
    word-wrap: break-word;
  }
}

.post-info__bubble_share {
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin: 10px;
}
