.content {
  .posts {
    list-style: none;
  }

  .post {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    text-align: justify;

    .post__title {
      font-weight: 700;
      font-size: 24px;
      color: #333;
      line-height: 29px;

      a {
        color: #333;
        text-decoration: none;
      }
    }

    .post__content {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 1em;

      img {
        @include box-shadow(0 1px 1px 1px rgba(0,0,0,0.2));
        max-width:100%;
        height:auto;
        margin: 10px 0;
      }

      .post__back {
        margin: 30px 0 15px;
      }
    }

    .post__continue {
      margin-top: 10px;
    }
  }
}
