body {
  font-family: "PT Sans", sans-serif;
}

.row {
  max-width: 70em;
}

hr.bookends-dots {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

h2 {
  font-size: 2.4125rem;
}

.about {
  margin-top: 40px;

  .about__text {
    p {
      font-size: 1.6rem;
    }
  }
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
