html, body {
  font-size: 100%;
  background: #FFF;
  font-family: arial;
  height: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 18px;
}

.main-content {
  max-width: 70%;
  margin: 0 auto;
}

p {
  font-family: 'News Cycle';
  line-height: 1.2;

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: steelblue;
    font-weight:bold;    
    transition: color 0.3s;
    perspective: 600px;
    perspective-origin: 50% 100%;

    &::before, &::after {
      position: absolute;
      top: 0px;
      left: -2px;
      padding: 0 1px 0 2px;
      z-index: -1;
      width: 100%;
      height: 97%;
      content: '';
    }

    &::before { 
      background: steelblue; 
      transition: transform 0.2s;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      transform: rotateX(90deg);
      transform-origin: 50% 100%;
    }

    &::after {
      border-bottom: 2px solid steelblue; 
    }

    &:hover {
      color: white;
    }

    &:hover::before {
      transform: rotateX(0deg);
    }
  }
}
