html, body {
  font-size: 100%;
  background: #FFF;
  font-family: arial;
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 18px;
}

.main-content {
  max-width: 70%;
  margin: 0 auto;
}

p {
  font-family: 'News Cycle';
  line-height: 1.2;
  font-size: 16px;
}
