// Small screens
@media only screen {  /* Define mobile styles */
  .top-bar .name {
    margin-left: 0;
  }

  .post {
    .post__date {
      margin-top: 0;
    }

    .post__tags-title {
      margin-top: 0;
    }
  }

  .about {
    .about__my-photo {
      margin-bottom: 15px;
      width: 290px;
    }
  }
}

@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .top-bar .name {
    margin-left: 0;
  }

  .post {
    .post__date {
      margin-top: 0;
    }

    .post__tags-title {
      margin-top: 0;
    }
  }

  .about {
    .about__my-photo {
      margin-bottom: 15px;
      width: 290px;
    }
  }
}

// Medium screens
@media only screen and (min-width: 40.0610em) {  /* min-width 641px, medium screens */
  .top-bar .name {
    margin-left: 0;
  }

  .post {
    .post__title {
      float: left;
    }

    .post__date {
      margin-top: 14px;
      float: right;
    }

    .post__tags-title {
      margin-top: 50px;
    }
  }

  .about {
    .about__my-photo {
      float: right;
      margin: 0 0 15px 15px;
      width: 350px;
    }
  }
}

@media only screen and (min-width: 40.0610em) and (max-width: 64em) { /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  .top-bar .name {
    margin-left: 0;
  }

  .post {
    .post__title {
      float: left;
    }

    .post__date {
      margin-top: 14px;
      float: right;
    }

    .post__tags-title {
      margin-top: 50px;
    }
  }

  .about {
    .about__my-photo {
      float: right;
      margin: 0 0 15px 15px;
      width: 350px;
    }
  }
}

// Large screens
@media only screen and (min-width: 64.0610em) {  /* min-width 1025px, large screens */
  .top-bar .name {
    margin-left: 50px;
  }

  .post {
    .post__title {
      float: left;
    }

    .post__date {
      float: right;
      margin-top: 14px;
    }

    .post__tags-title {
      margin-top: 50px;
    }
  }

  .about {
    .about__my-photo {
      float: right;
      margin: 0 0 15px 15px;
      width: 350px;
    }
  }
}

@media only screen and (min-width: 64.0610em) and (max-width: 90em) {  /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
  .top-bar .name {
    margin-left: 50px;
  }

  .post {
    .post__title {
      float: left;
    }

    .post__date {
      float: right;
      margin-top: 14px;
    }

    .post__tags-title {
      margin-top: 50px;
    }
  }

  .about {
    .about__my-photo {
      margin: 0 0 15px 15px;
      float: right;
      width: 350px;
    }
  }
}
