<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include yandex.html %}

    <div id="banner">
      <div id="bannertext">
        <h1>{{ page.title }}</h1>
        <p>Finest webdesign since 1870</p>
      </div>
    </div>

    <div id="content">
      <section id="main_content" class="inner">
        {{ content }}
        <br><hr>
        {% include share_buttons.html %}
        <p><a href="/blog"><b>Назад</b></a></p>
      </section>
      {% include comments.html %}
    </div>
  </body>
</html>
