<!DOCTYPE html>
<html>
  {% include head.html %}
  <body onorientationchange="if(DISQUS) DISQUS.reset({reload: true});">
    {% include header.html %}

    <div class="row">
      <div class="large-12 medium-12 columns">
        <div class="post">
          <h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
          <div class="post__content">
            {{ content }}

            <hr class="bookends-dots"/>

            <div class="post__tags">
              <ul class="inline-list">
                {% for tag in page.tags %}
                  <li><a href='/tags/#{{tag}}'>#{{tag}}</a></li>
                {% endfor %}
              </ul>
            </div>

            <div class="post__share-buttons">
              {% include share_buttons.html %}
            </div>

            <div class="post__back">
              <a href="/" class="secondary radius button">Назад</a>
            </div>

            <div class="post__comments">
              {% include comments.html %}
            </div>
          </div>
        </div>
      </div>
    </div>

  {% include javascript.html %}
  </body>
</html>
